/* Reset Universal */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Trirong", Arial, Helvetica, sans-serif;
  /*color: #aaa;*/
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
